a:link {
  color: #01a9e7;
}
a:visited {
  color: #01a9e7;
}
body {
    background: #000 url(images/dark_bg.png) repeat-x fixed left bottom;
    font: normal 0.9em 'Aldrich','Droid Sans',sans-serif,Arial;
    color: #666;
    margin: 0 auto;
    width: 700px;
    text-align: center;
}
img {
    float : right;
    height : 50px;
}
h2 {
  margin-top: 1em;
}
li {
    background: #030303 url(images/dark_bgitem.gif) repeat-x; 
    border: 1px solid #666;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: .5em;
}
div.title {
    font-weight: bold;
    color: #01a9e7;
}
div.info {
}
ul {
    text-align: left;
    list-style-type: none;
}
#locked {
    display: none;
}
cite {
  white-space: pre;
  margin: 10px 0;
  display: block
}
